p.a {
    text-align: justify;
    font-family: Calibri;
    font-size: 10.5pt;
    line-height: 108%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: .001pt;
    font-style: normal;
    font-weight: normal
}
body {}
span { white-space: pre-wrap
}